html {
    /* background-image: url("img/novum-bg-img.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-repeat: repeat-y; */
    width: 100%;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}


/* putting headiung and navigation bar side by side */

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    font-size: 4vw;
    margin: auto;
}

header img {
    width: 25.05vw;
    height: 6vw;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
}

h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 1vw;
}

.indexH1 {
    text-align: left;
}

.topnav {
    /* background-color: #333; */
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    font-weight: bold;
    float: right;
    color: #000;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    /* font-size: 17px; */
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #d5dceb;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #003399;
    /* background-color: #818181; */
    color: #fff;
}

.moneyBGimg {
    padding-top: 3vw;
    width: 40vw;
    height: 22.5‬vw;
}

.columnContent {
    float: left;
    width: 50%;
}

.rowContent:after {
    content: "";
    display: table;
    clear: both;
}

.rowContent {
    margin-right: 2vw;
    margin-left: 2vw;
}

.homeContent {
    text-align: justify;
    text-justify: inter-word;
}

.servicesList {
    text-align: center;
    margin-bottom: 1vw;
}

.servicesList a {
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    margin: auto;
    margin: 0px 20px 0px 20px;
}

.servicesList a:hover {
    background-color: #d5dceb;
    color: black;
}

.servicesContent {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 2vw;
    margin-left: 2vw;
}

.onviewLink {
    overflow: hidden;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.onviewLink:hover {
    background-color: #d5dceb;
    color: black;
}


/* arranging contact details into 3 columns */

.columnContact {
    font-size: 1.5vw;
    font-weight: bold;
    float: left;
    width: 33.33%;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

.rowContact:after {
    content: "";
    display: table;
    clear: both;
}

.footerIconPhone {
    width: 2vw;
    height: 2vw;
}

.footerIconOnview {
    width: 2vw;
    height: 2vw;
}

.footerIconEmail {
    width: 2.75vw;
    height: 2vw;
}

footer {
    background-color: #d5dceb;
    font-size: 1.2vw;
    border: 0.05vw solid #000000;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 1.5vw;
    padding: 0.2vw;
    position: fixed;
    left: 0;
    bottom: 0;
}


/* form styling */


/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 1.15vw;
    /* Some padding */
    border: 0.1vw solid #ccc;
    /* Gray border */
    border-radius: 0.5vw;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 0.6vw;
    /* Add a top margin */
    margin-bottom: 0.6vw;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

.containerForm button {
    background-color: #008000;
    color: white;
    padding: 1vw 1vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #89C507;
}


/* Add a background color and some padding around the form */

.containerForm {
    border-radius: 0.5vw;
    background-color: #d5dceb;
    padding: 1.8vw;
    margin-bottom: 8vw;
    color: #333;
    margin-right: 20%;
    margin-left: 20%;
}


/* end of form styling */

@media only screen and (max-width:360px) {
    body {
        background-color: lightblue;
    }
    .column {
        float: left;
        width: 100%;
    }
    .HeaderRow {
        margin-bottom: 20px;
    }
    .topnav a {
        font-weight: bold;
        color: #ef9684;
        text-align: center;
        padding: 1vw 1vw;
        text-decoration: none;
        font-size: 1.5vw;
        /* font-size: 17px; */
    }
}


/* To set header font size only for microsoft edge */

@supports (-ms-ime-align:auto) {
    header {
        font-size: 4vw;
    }
}